/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* @layer base {
    a {
        text-align: center;
        transform: translateX(-100%); 
        opacity: 0;
        transition: .3s linear;
    }
    a:hover {
        transform: translateX(0); 
        opacity: 1;
        transition-delay: 1s;
    }
} */
